body {
  font-family: 'Segoe UI', sans-serif;
}

.hero {
  height: 80vh;
  background: #efefef;
}

.hero h1 {
  font-size: 3rem;
}

.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
